*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-weight: lighter;
    font-size: 40px;
    
}
p{
    opacity: 0.5;
    line-height: 1.6;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 33.33%;
}

#banner {  
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.5),#009688), 
    url("/images/images/banner.jpg") top center / cover no-repeat;
    
    padding: 200px 0;
         
}
#banner .logo {   
    position: absolute;
    top: 5%;
    left: 5%;
    width: 120px;
}
.banner-content {
    width: 100%;
    text-align: center;   
    bottom: 50%;
    color: #fff;   
}
.banner-content h1 {
    font-size: 130px;
    padding-bottom: 50px;
    font-weight: 100;
}
.banner-content p{
    font-size: 25px;
    font-style: italic;
    margin-bottom: 50px;
}
.banner-btn a {
    text-decoration: none;
    width: 150px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 15px 0;
    margin: 0 10px;
    z-index: 1;
    color: #fff;
    transition: color .75s;
    position: relative;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: #ccc;
    transition: width .75s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover {
    color: black;
}
#services {   
    text-align: center;
    background-color: rgb(100, 100, 100, 0.1);   
    padding: 70px 0;
}
#main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.services-act {
    flex-basis: 48%;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}
.services-act img {
    width: 100%;
    border-radius: 10px;  
}
.services-hover{
    position: absolute;
    width: 80%;   
    bottom: 0;
    opacity: 0;
    color: #fff;  
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;   
}
hr{
    background: #fff;
    width: 60%;
    height: 2px;
    margin: 15px auto;
}
.overlay {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    transition: 1s;opacity: 0;
}
.services-act:hover .overlay {
    opacity: 1;
}
.services-act:hover .services-hover{
    bottom: 30%;
    opacity: 1;
}
#features {
    width: 80%;
    margin: auto;
    padding: 70px 0;
}
.features-heading{
    text-align: center;
    padding-bottom: 40px;
}
.features-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-img img{
    width: 70%;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
    
}
.features-img {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.features-desc{
    display: flex;
}
.features-text{
    margin-top: auto;
    margin-bottom: auto;
}
.features-icon{
    font-size: 30px;
    margin: auto;
    margin-right: 20px;
    color: #009688;
}
.features-subheading{
    padding: 20px 0 30px 0;
    letter-spacing: 1.2px;
}
#feedback{
    padding: 70px 0;
    width: 80%;
    margin: auto
}
.feedback-heading{
    text-align: center;
    padding-bottom: 30px;
}
.user-info{
    display: flex;
    flex-basis: 28%;
    padding: 30px 0;
}
.person img {
    width: 40px;
    height: 40px;
}
.person{
    box-shadow: 0 10px 20px 5px #00968814;
    width: 30%;
    padding: 15px;
    transition: transform 0.5s;
}
.feedback-user {
    display: flex;
    justify-content: space-between;
}
.person p{
    font-size: 20px
}
.user-name {
    padding: 0 15px;
}
.user-info .icon {
    color: #009688;
    font-size: 20px;
}
small{
    transition: color 0.5s;
}
.person:hover {
    transform: translateY(7px);
}
.person:hover small{
    color: #009688;
}
#footer {
    position: relative;
   height: 700px;
   background-color: rgba(146, 141, 141, 0.3); 
   
}
.img-footer {
    max-width: 370px;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: -1;
}
.footer-contact{     
    padding-top: 150px;
    text-align: center;  
}
.footer-contact h1 {
    font-size: 80px;
}
.footer-info {
    padding-top: 120px;
    width: 83.34%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
}
.info-time{
    text-align: left;
    
}
.info-place{
   text-align: right;
   
}
.footer-info span {
    font-size: 25px;
    opacity: 0.6;
    line-height: 1.5;
    padding: 15px;
}
.footer-info h1 {
    padding-bottom: 20px;  
}
.footer-info .icon {
    font-size: 25px;
    color: #009688;
}
.social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}
.social .icon {
    font-size: 25px;
    padding: 0 8px;
    color: #009688;
    cursor: pointer;
    transition: color 0.75s linear;
}
.social .icon:hover {
    color: #ff9900;
}





